/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Quicksand, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
}

@media (max-width: 600px) {
  /* Styles for screens smaller than 600px (typical mobile screens) */
}


.announcement {
  background-color: #ad8b73;
  color: #ffffff;
  display: flex;
  font-size: small;
  height: 30px;
  align-items: center;
  
  
}

.title {
  @apply text-xl font-bold px-2 my-3
}



